.modal {
    position: fixed;
    max-width: 30rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 0;
    border-radius: 0.5rem;
}

.closeButton {
    font-size: .75em;
    position: absolute;
    padding: .25em;
    top: .25em;
    right: .25em;
}
